[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
flask-bootstrap4 = "*"
email-validator = "*"
wtforms = "*"
flask-wtf = "*"
pdfkit = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
